<!DOCTYPE html>
<html>

    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/assets/styles/index.css" type="text/css">
    </head>

<body class="jumbotron">
    <nav>
        <div class="container-fluid">
            <a href="/signup"><button class="btn btn-font btn-outline-info border-info">Sign up</button></a>
            <a href="/login"><button class="btn btn-font btn-outline-info border-info">Log in</button></a>
            <a href="/changePass"><button class="btn btn-font btn-outline-info border-info">Change Password</button></a>
            <a href="/home"><button class="btn btn-font btn-outline-info">Home</button></a>
            <a href="/family"><button class="btn btn-font btn-outline-info">Family</button></a>
            <a href="/adventure"><button class="btn btn-font btn-outline-info">Adventure</button></a>
            <a href="/romantic"><button class="btn btn-font btn-outline-info active">Romantic</button></a>
        </div>
    </nav>
    
        
</body>

</html>