body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(../images/bg.jpg);
	background-size: cover;
}

.box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	width: 400px;
	padding: 40px;
	background: rgba(0,0,0,.4);
	box-sizing:border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius:10px;
}
.box h2{
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
}
.box .inputBox{
	position: relative;
} 
.box .inputBox input{
	width:100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing:1px; 
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
    background: transparent;
}
.box .inputBox label{
	position: absolute;
	top: 0;
	left: 0;
	letter-spacing:1px; 
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
 }
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
	top:-18px;
	left: 0;
	color: #03a9f4;
	font-size: 12px; 
}
.box #Log
{
	background:transparent;	
	border:none;
	outline: none;
	color: #fff;
	background:#03a9f4;
	padding: 8px 22px;  
	cursor:pointer;
	border-radius:5px;  
	float: right; 
}
.box #Cancel
{
	color: #fff;
}
.box #SignUp
{
	background:transparent;	
	border:none;
	outline: none;
	color: #03a9f4;
	padding: 5px 10px;  
	cursor:pointer;
	border-radius:3px;   
}
footer .footer-div{

	padding-top: 600px;
	
}
footer h3{
	color: #DFAC94;
	font-size:2.5em;
}
/*footer div.right-bar{
	float: right;
	width: 490px;
	border:none;
	border-bottom: 1px solid #fff;
}*/